.vjs-default-skin.vjs-has-started .vjs-control-bar {
    transition: bottom 0.3s;
}
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
    bottom: -3em;
    visibility: visible;
    opacity: 1;
}
/* Force using small progress when vjs-control-bar is hidden */
.vjs-default-skin.vjs-user-inactive.vjs-playing:hover .vjs-progress-control {
    font-size: 0.3em;
}